<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hiitmanStandAlone Watch App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64_32</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>EC921826778D2778B744EB25173B768D3D23402B</string>
				<key>dateExpires</key>
				<string>1/22/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>NZ28KN5Y6K.com.mattnaf.hitmanStandAlone.watchkitapp</string>
				<key>com.apple.developer.healthkit</key>
				<true/>
				<key>com.apple.developer.healthkit.access</key>
				<array/>
				<key>com.apple.developer.team-identifier</key>
				<string>NZ28KN5Y6K</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>hiitmanStandAlone Watch App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>66eaaf03-fd7a-47d5-a1b7-080a7430e03e</string>
				<key>dateExpires</key>
				<string>1/22/24</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.mattnaf.hitmanStandAlone.watchkitapp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>NZ28KN5Y6K</string>
				<key>name</key>
				<string>matt nafarrete</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
